version: 2
updates:
  - package-ecosystem: "terraform"
    directory: "/"
    schedule:
      interval: "daily"
      time: "02:00"
      timezone: "Australia/Melbourne"

  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "daily"
      time: "03:00"
      timezone: "Australia/Melbourne"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
      time: "04:00"
      timezone: "Australia/Sydney"
    open-pull-requests-limit: 5