name: "CI"
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - main
jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        id: checkout
        uses: actions/checkout@v5

      - name: Set up Python
        id: setup-python
        uses: actions/setup-python@v5
        with:
          python-version: 3.13

      - name: Install dependencies
        id: pip
        run: pip install '.[dev]'

      - name: Lint
        id: lint
        run: ruff check

      - name: Format
        id: format
        run: ruff format --check

      - name: Test
        id: test
        run: coverage run -m pytest

      - name: Coverage Report
        id: coverage
        run: coverage report


  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        id: checkout
        uses: actions/checkout@v5

      - name: Setup TFLint
        id: setup-tflint
        uses: terraform-linters/setup-tflint@v6.2.1
        with:
          tflint_version: v0.59.1

      - name: Init TFLint
        id: init-tflint
        run: tflint --init
        env:
          # Needed to avoid getting rate limited by GitHub API
          GITHUB_TOKEN: ${{ github.token }}

      - name: TFLint
        id: tflint
        run: tflint

      - name: Run Trivy
        id: trivy
        uses: aquasecurity/trivy-action@0.33.1
        with:
          format: 'table'
          scan-type: 'fs'
          scanners: 'config,secret,vuln'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2
        id: setup-terraform
        with:
          terraform_version: 1.13.5

      - name: Terraform init
        id: init
        run: terraform init

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check

      - name: Terraform validate
        id: validate
        run: terraform validate

      - name: Terraform Docs
        id: terraform-docs
        uses: terraform-docs/gh-actions@v1.4.1
