name: "CI"
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - main
jobs:
  python:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        id: checkout
        uses: actions/checkout@v5

      - name: Set up Python
        id: python
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        id: uv
        uses: astral-sh/setup-uv@v6

      - name: Create Venv
        id: venv
        run: uv venv

      - name: Install Dependencies
        id: deps
        run: uv pip install -e ".[dev]"

      - name: Lint
        id: lint
        run: uv run ruff check --preview

      - name: Format
        id: format
        run: uv run ruff format --check --preview

      - name: Type Check
        id: type-check
        run: uv run mypy functions/

      - name: Test
        id: test
        run: uv run coverage run -m pytest

      - name: Coverage Report
        id: coverage
        run: uv run coverage report


  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        id: checkout
        uses: actions/checkout@v5

      - name: Setup TFLint
        id: setup-tflint
        uses: terraform-linters/setup-tflint@v6.2.1
        with:
          tflint_version: v0.59.1

      - name: Init TFLint
        id: init-tflint
        run: tflint --init
        env:
          # Needed to avoid getting rate limited by GitHub API
          GITHUB_TOKEN: ${{ github.token }}

      - name: TFLint
        id: tflint
        run: tflint

      - name: Run Trivy
        id: trivy
        uses: aquasecurity/trivy-action@0.33.1
        with:
          format: 'table'
          scan-type: 'fs'
          scanners: 'config,secret,vuln'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3.1.2
        id: setup-terraform
        with:
          terraform_version: 1.13.5

      - name: Terraform init
        id: init
        run: terraform init

      - name: Terraform Format
        id: fmt
        run: terraform fmt -check

      - name: Terraform validate
        id: validate
        run: terraform validate

      - name: Terraform Docs
        id: terraform-docs
        uses: terraform-docs/gh-actions@v1.4.1
